<div class="gallery" ng-show=isGalleryOpen ng-click="hideGallery()">
				
	<div class="gallery-background"></div>
	
	<h4 class="gallery-title">{{currentImage.title}}</h4>
	
	<div class="gallery-frame">
		<div class="close-button" ng-click="closeGallery()">
			<span class="close-button-icon glyphicon glyphicon-remove"></span>
		</div>

		<div class="gallery-image-frame">
			<img ng-src={{currentImage.url}} class="gallery-image">
		</div>

		<div class="gallery-button gallery-button-left" ng-click="prevImage()">
			<div class="gallery-button-icon gallery-button-icon-left">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</div>
		</div>
		
		<div class="gallery-button gallery-button-right" ng-click="nextImage()">
			<div class="gallery-button-icon gallery-button-icon-right">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</div>
		</div>
	</div>
</div>