<h2>theBlu Oculus Rift Prototype (Unity3D)</h2>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
	<br>
	<span>
		<p>
			Taking theBlu and getting it ready for the Oculus Rift was my first 
			project with WeMo Labs. The initial product was developed in Unity3D, 
			and fortunately had support for the Oculus Rift dev-kits. I was 
			responsible for changing the static camera system to a dynamic camera 
			system. 
		</p>
		<p>
			I initially prototyped move mechanics using the players viewing direction 
			and an Xbox 360 controller. I enjoyed the freedom that was granted by the 
			new controls, but this was a time very early in modern virtual reality, so 
			needless to say there were several people that were made a little queasy by this. 
			We experimented with several different move mechanics, but ultimately decided 
			to stick with a static camera position. This made a lot of people happy.
		</p>
		<p>
			I was also responsible for developing one of the first UIs in virtual reality. 
			The mouse and Xbox controllers were both initial input selection systems we 
			experimented with, but we eventually settled on a selection system based on 
			the viewing direction. This made it very easy for end users to switch between 
			different habitats and views.
		</p>
	</span>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center">
	<h4>WEVR's theBlu</h4>
	<div class="video-container">
		<iframe width="826" height="620" src="https://www.youtube.com/embed/hUpkVa4UkMg"></iframe>
	</div>
</div>
