<h2>Software Rasterizer (C++)</h2>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
	<br>
	<span>
		<p>
			During my first semester of my Masters program at USC I was enrolled 
			in a graphics development course where we learned the typical rendering 
			pipeline for rasterizing triangles. Our assignments followed the 
			progression of a software renderer where we integrated full transform 
			and lighting for meshes and cameras. We also implemented Phong lighting 
			and perspective correct texturing. 
		</p>
		<p>
			The application was developed using only C++ and boiler-plate Windows MFC.
		</p>
	</span>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center Modal-content">
	<image-item title="Per-Pixel Shading" url="../img/rasterizer.png"></image-item>
</div>
