<h2>Visual Analytix (Angular JS, Node JS, Mongo DB)</h2>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
	<br>
	<span>        
        <p>
            Visual Analytix is a systems engineering analysis tool built for government operations. It's purpose is for determining the best way to achieve a goal scaling from small detailed systems all the way to large operations involving large numbers of people. 
        </p>
        <p>
            This was the first project my consulting company took on. I took over the project as the lead software engineer working along-side several systems engineers. A large part of my development process was working with the systems engineers to find out their workflow when analyzing systems, and then taking those details and implementing them in software.
        </p>
        <p>
            The application is web-based with a backend written in NodeJS with a MongoDB database. The front-end needed to be re-written and optimized piece-by-piece since the application transitioned through many hands and iterations with very little cohesion. It evolved to use AngularJS and Google Material frameworks to ease development and code reuse. 
        </p>
        <p>
            A portion of VAx allows uploading, viewing and modifying 3D CAD models. For the initial prototypes I implemented a viewer in WebGL using ThreeJS and a couple of libraries to support OBJ and FBX files. One of the key features was to add/remove/swap parts on a model. I added an interface along-side the viewer to toggle the different parts using a dynamic menu listing the available pieces. 
        </p>
        <p>
            One of the major features of VAx is to manage all of the users. This includes project managers, engineers, accounting, etc. all the way down to the final end user of the system being analyzed. I built a very robust user-management system which allowed admins and project managers to set up any combination of privileges for their project. Since this can get confusing, a security flag chart displays what is available and unavailable for each user or user-group. Security was guaranteed using a combination of privilege checks, cookies and some local file storage support in tandem with periodic user account checks with the backend. 
        </p>
	</span>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center Modal-content">
	<h4>Screenshots</h4>
	<image-item url="../img/VAx/VAx001.png"></image-item>
	<image-item url="../img/VAx/VAx002.png"></image-item>
	<image-item url="../img/VAx/VAx003.png"></image-item>
</div>
