<h3>Raw Data (Oculus Rift, HTC Vive, PSVR)</h3>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
	<br>
	<span>        
        <p>
            I was one of a couple engineers on the hit VR game Raw Data for the PC and PS4 released in 2017. During my time on the project I was responsible for multiple aspects of the game including analytics reporting, achievements, several critical gameplay elements, three different demos, and last but not least, Raw Data Arcade!
        </p>
        <p>
            Early in development, I was in charge of implementing analytics and reporting for Raw Data and the underlying Survios platform. We used an external data management company that I worked with to develop a UE4 plugin that sent REST calls to their backend servers. During gameplay I would aggregate all of the bits of data such as number of kills, number of deaths,time played, etc. and send the data during level transitions. If the game crashed or internet was lost, all of the data was still on the player's machine waiting to be reported. It was a flexible and reliable system that made it's way into several other Survios titles. All of this data was extremely valuable and was used to tweak and enhance gameplay for the for the final release.
        </p>
        <p>
            When the majority of the game was complete I was responsible for implementing Achievements for the multiple platforms Raw Data was released on including Steam, Oculus Home and Trophies for the PlayStation. Since the platforms track Achievement data in vastly different ways, we settled on storing all of the data locally, and reporting the unlocked Achievement to the platform once the threshold was reached. This made unlocking Achievements simple to implement for any platform. The thesholds were defined using a simple data container in the UE4 Editor. Designers were able to tweak the unlock requirements very easily and never needed to consult an engineer to make updates. 
        </p>
        <p>
            Throughout my time at Survios I built three different demos of the game which were deployed through different avenues. The first demo I built was for Valve to show off their HTC Vive headset in retail locations including Best Buy and Gamestop. The second demo I developed was used during Survios's largest E3 presence ever in 2017. Lines wrapped around the booth where attendees waited for, on occasion, two hours to play! The last demo I built for Raw Data now lives on the PSVR Demo Disk that came with the initial PSVR kits.
        </p>
        <p>
            One of the largest undertakings that I took over was Raw Data Arcade. I worked with a game designer to determine how the game should flow in a timed Arcade environment versus a typical home environment. We also gave arcade managers an easy to use interface written in Unreal Motion Graphics (UMG) to alter aspects of the game including timers, available heros, unlocks, levels, etc. Every VR arcade wanted to provide their own customized experience for their customers. In the end we delivered an outstanding product that's now a headliner in over 1000 arcades world-wide! 
        </p>
	</span>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center">
	<!-- https://www.youtube.com/watch?v=IYLC812nDcI -->
</div>
