<h2>Bloom (Unity3D)</h2>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
	<br>
	<span>
		<p>
			Bloom is a 2.5D adventure platformer where you play as a seedling named Sprout 
			who wields the powers of nature in order to reclaim earth from the dangerous 
			machines who have taken over. The game was a year-long project assembled as a final 
			for senior-level Masters and Undergrad students at USC. We initially targeted 
			the PS Vita only, but halfway through the project we decided to make the game 
			cross-platform and ended up supporting Windows, OSX, Android and iOS devices. 
		</p>
		<p>
			I played multiple roles on the team during the year long development. Initially 
			I was one of the engineers in charge of researching and developing different 
			graphics features. This was during the initial release of Direct3D 11 in Unity, 
			and we were sure the PS Vita would support a similar feature set, 
			so I was working to figure out what would be graphically feasible in our game. 
			I was able to implement a texture-based 'million-particle' system in Unity. 
		</p>
		<p>
			After the initial research period was over (Summer 2013) I moved into a more 
			generalist role to support the team in different ways. I implemented a couple of
			effects for Sprout such as jumping and attacking enemies. Later I assisted the 
			Art Director to help manage the incoming art assets. I was responsible for making 
			sure the assets would import into Unity with ease, and without error. This 
			required me to be in contact with the on-site engineers as well as the remote 
			artists. 
		</p>
	</span>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center Modal-content">
	<h4>Bloom Trailer</h4>
	<div class="video-container">
		<iframe width="826" height="620" src="https://www.youtube.com/embed/U0wtKVFMelA"></iframe>
	</div>
</div>
