<h3>Streets of India (iPad/Unity3D)</h3>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
	<br>
	<span>
		<p>
			Streets of India was a mobile game project I lead during the second 
			semester of my Masters program at USC. The team consisted of myself and 
			5 other students working to complete the game over a semester. The 
			entire game was developed in Unity3D for the iPad.
		</p>
		<p>
			The game is a modern take on an old classic, Frogger. The player must 
			guide their character through the busy and hectic streets of India to 
			disarm and remove bombs set at famous Indian landmarks. What makes this 
			game unique is that it's completely 3D, and the manner in which the 
			cars are generated. Normally in this genre there are lanes of 'traffic' 
			whether it's a bunch of cars, or a bunch of logs. The lanes are predefined 
			and obvious to the player. We added an extra bit of challenge by removing 
			the lanes and let the vehicles spawn and roam freely in the streets. 
			This made it a little more hectic and created tension for the player. 
			Overall it was well received by the class, and other students in the 
			program. It was unfortunately never released to the App Store.
		</p>
	</span>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center">
</div>

