<h2>Skeletal Animation (C++/OpenGL)</h2>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
	<br>
	<span>
		<p>
			During my second semester of my Masters program at USC I was enrolled 
			in a graphics and animation course where we learned about different 
			animation and effects systems in the graphics world. One of the projects 
			involved skeletal animation. We were given a set of uniform animation 
			data where every frame was a keyframe. 
		</p>
		<p>
			Next we had to implement different interpolation systems including 
			Euler angles and Quaternions. We had to invesigate what happened when 
			large chunks of keyframes were skipped. For the most part the quaternions 
			respected the original animation, but the Euler angle implementations 
			consistantly became gimbal-locked, and would either explode, or end 
			up in odd final poses.    
		</p>
		<p>
			This project was implemented using C++ and OpenGL.
		</p>
	</span>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center Modal-content">
	<image-item title="Animation Frame" url="../img/skeletalanim.png"></image-item>
</div>
