<div>
	<h2>{{selectedProject.title}}</h2>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left Modal-content scrollbar">
		<br>
		<span> 
			<p ng-repeat="para in leftSideData track by para.id">{{para.html}}</p>
		</span>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center Modal-content">
		<!-- <h4>Beauty and the Beast: Perfect Match</h4>
		<div class="video-container">
			<iframe width="826" height="620" src="https://www.youtube.com/embed/AuzVZLqdvmQ"></iframe>
		</div>
		
		<h4>Disney Dream Treats</h4>
		<div class="video-container">
			<iframe width="826" height="620" src="https://www.youtube.com/embed/_GfgACr3Rr8"></iframe>
		</div> -->
	</div>
</div>
