<div class=".animate-show-hide.ng-hide" ng-hide="isHidden">
	<div class="Modal-backdrop"></div>
	<div class="Modal-holder">
		<h2>{{selectedProject.title}}</h2>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left Modal-content scrollbar">
			<br>
			<span> 
				<project-description-container description-data=selectedProject.leftContent></project-description-container>
			</span>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center Modal-content scrollbar">
			<span>
				<project-media-container media-list=selectedProject.rightContent></project-media-container>
			</span>
		</div>
	</div>
</div>
