<h3>Bloom (Unity3D)</h3>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
	<br>
	<span>
		<p>
			Bloom is a 2.5D adventure platformer where you play as a seedling named Sprout 
			who wields the powers of nature in order to reclaim earth from the dangerous 
			machines who have taken over. The game was a year-long project assembled as a final 
			for senior-level Masters and Undergrad students at USC.
		</p>
		<p>
			I played multiple roles on the team during the year long development. Initially 
			I was one of the engineers in charge of researching and developing different 
			graphics features. This was during the initial release of Direct3D 11 in Unity, 
			so I was working to figure out what would be feasible in our game. I was able 
			to implement a texture-based 'million-particle' system in Unity. 
		</p>
		<p>
			After the initial research period was over (Summer 2013) I moved into a more 
			generalist role to support the team in different ways. I implemented a couple of
			effects for Sprout such as jumping and attacking enemies. Later I assisted the 
			Art Director to help manage the incoming art assets. I was responsible for making 
			sure the assets would import into Unity with ease, and without error. This 
			required me to be in contact with the on-site engineers as well as the remote 
			artists. 
		</p>
	</span>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center">
</div>
